# Node modules
node_modules/
.next/
out/
dist/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
coverage/
.turbo

# Local Netlify folder
.netlify
